<!DOCTYPE html>
<html>
<head>
  <title>Smart Attendance - Login</title>
</head>
<body>
  <h1>Smart Attendance System</h1>
  <form method="post" action="/student_login">
    <button type="submit">Student Login</button>
  </form>
  <h2>Admin Login</h2>
<form method="POST" action="/admin_login" autocomplete="off">
  <label>Username:</label>
  <input type="text" name="username" required autocomplete="off"><br>
  <label>Password:</label>
  <input type="password" name="password" required autocomplete="new-password"><br>
  <button>Admin Login</button>
</form>
</body>
</html>